<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="border border-gray pos-relative">
      <h2 class="pos-absolute top-50 start-50 translate-middle text-primary logo fs-4"><a href="index.html" class="px-8 py-3">EXHIBINECTION</a></h2>
      <div class="container index-nav d-flex justify-end items-center">
        <ul class="d-flex justify-between items-center list-unstyled">
          <li class="d-none d-md-block">
            <a class="link-gray p-2" href="#">Sign in</a>
          </li>
          <li class="me-2 d-none d-md-block">
            <a class="link-gray p-2" href="#">Sign up</a>
          </li>
          <li class="pos-relative">
            <a class="link-dark" href="#">
              <span class="material-icons">
                confirmation_number
              </span>
              <span class="pos-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary fs-xs">3</span>
            </a>
          </li>
        </ul>
      </div>
    </header>

    <%- contents %>

    <footer>
      <div class="footer d-flex flex-column justify-end">
        <div class="container">
          <h2 class="text-white fw-bold fs-4 mb-1.5">想收到展覽的最新消息嗎？<br />快訂閱我們！</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="button-addon2" />
                <button class="btn btn-secondary py-1.5 px-6.5" type="button" id="button-addon2">訂閱</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container index-nav d-flex justify-between items-center">
        <div class="d-flex py-3 pe-4 flex-column flex-md-row link">
          <h3 class="logo me-2"><a href="index.html" class="link--block link-dark">EXHIBINECTION</a></h3>
          <span class="fs-bs">© 2020. All Rights Reserved.</span>
        </div>
        <ul class="list-unstyled d-none d-md-flex items-center">
          <li class="me-3"><a href="" class="py-2 link-gray">Sign in</a></li>
          <li class=""><a href="" class="py-2 link-gray">Sign in</a></li>
        </ul>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>