
$utilities: map-merge(
  $utilities,(
    "position": map-merge(
      map-get($utilities,"position"),
      (
        class: pos
      )
    ),
    "width": map-merge(
      map-get($utilities,"width"),
      (
        responsive: true,
      )
    ),
    "justify-content": map-merge(
      map-get($utilities,"justify-content"),
      (
        class: justify,
      )
    ),
    "align-items": map-merge(
      map-get($utilities,"align-items"),
      (
        class: items,
      )
    ),
    "font-weight": (
      responsive: true,
      property: font-weight,
      class: fw,
      values: $weightVal
    ),
    "white-space": (
      property: white-space,
      class: ws,
      values: (
        wrap: normal,
        nowrap: nowrap,
        pre: pre,
        pre-line: pre-line,
        pre-wrap: pre-wrap
      )
    ),
    "font-size": map-merge(
      map-get($utilities,"font-size"),
      (
        rfs: false,
      )
    ),
    "overflow": map-merge(
      map-get($utilities,"overflow"),(
        responsive: true,
        property: overflow,
        state: hover,
        class: overflow,
        values: (
          auto: auto,
          hidden: hidden,
          visible: visible,
          scroll: scroll
        )
      )
    ),
    "overflow-x": map-merge(
      map-get($utilities,"overflow"),(
        responsive: true,
        state: hover,
        property: overflow-x,
        class: overflow-x
      )
    ),
    "overflow-y": map-merge(
      map-get($utilities,"overflow"),(
        responsive: true,
        state: hover,
        property: overflow-y,
        class: overflow-y
      )
    ),
    "shadow": map-merge(
      map-get($utilities,"shadow"),(
        responsive: true,
        state: hover,
      )
    ),
    "z-index": (
      property: z-index,
      responsive: true,
      class: z,
      values: $zindex,
    ),
    "height": map-merge(
      map-get($utilities,"height"),(
        responsive: true,
        values: (
          '1': 1px,
          '2': 2px,
        )
      )
    ),
    "min-viewport-height":  map-merge(
      map-get($utilities,"min-viewport-height"),(
        responsive: true,
        values: (
          '50': 50vh,
          '60': 60vh,
          '70': 70vh,
          '80': 80vh,
          '90': 90vh
        )
      )
    )
  )
)