.link {
  position: relative;
  &--underline{
    &:hover{
      padding-bottom: .25rem;
      border-bottom: 1px solid $secondary;
    }
  }
  &--block{
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &--active{
    padding-bottom: .25rem;
    border-bottom: 1px solid $secondary;
  }
}